/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #ffffff, #1489ff);
  }

  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 5px;
  }
  
  img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }

  /*Estilos para las tarjetas*/
  .cards-container{
    width: 100%;
    height: max-content;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
    width: 200px;
    height: 350px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: red;
  }
  .city-name{
    font-size: 1rem;
  }
  .temp{
    font-size: 3rem;
  }

  .sunny{
    background: linear-gradient(to top, #ff7654, #feed7b);
  }

  .cloudy{
    background: linear-gradient(to top, #5c7098, rgb(205, 223, 255));
  }
  .rainy{
    background: linear-gradient(to top, rgb(79, 46, 170), rgb(172, 174, 255))
  }

  .night{
    background: linear-gradient(to top, rgb(12, 42, 88), rgb(165, 167, 242))
  }


  /**/
  .weather-details{
    width: 100%;
    height: max-content;
    background: linear-gradient(to top, rgb(27, 124, 244),rgb(84, 89, 255));
    display: flex;
    margin-top: 10px;
  }
  .details-ul{
    width: 100%;

  }

  .as{
    list-style: none;
    background-color: #ffffff1f;
    height: 30px;
    width: 95%;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
  }

  
  /* Estilos para móviles */
  @media (max-width: 600px) {
    h1 {
      font-size: 20px;
    }
  
    input[type="text"] {
      font-size: 14px;
    }
  
    button {
      padding: 8px 16px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    p {
      font-size: 14px;
    }
  
    img {
      width: 40px;
      height: 40px;
    }
  }
  